USE [student2012]
GO
/****** Object:  Table [dbo].[students]    Script Date: 29/01/2026 8:28:12 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[name] [nvarchar](255) NULL,
	[age] [int] NULL,
	[email] [nvarchar](255) NULL,
	[gender] [nvarchar](50) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([name], [age], [email], [gender], [id]) VALUES (N'Nguyễn Văn An', 20, N'an.nguyen@gmail.com', N'Nam', 1)
INSERT [dbo].[students] ([name], [age], [email], [gender], [id]) VALUES (N'Trần Thị Bình', 21, N'binh.tran@gmail.com', N'Nữ', 2)
INSERT [dbo].[students] ([name], [age], [email], [gender], [id]) VALUES (N'Lê Văn Cường', 22, N'cuong.le@gmail.com', N'Nam', 3)
SET IDENTITY_INSERT [dbo].[students] OFF
GO
